<a href="https://colab.research.google.com/github/WanjohiChristopher/Machine-Learning-DSCJKUAT-Sessions/blob/master/Association_Unsupervised_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Types of Unsupervised Machine Learning


Clustering

Anomaly Detection

Dimensionality Reduction

Association Rules



## Association Rules: Unsupervised Learning 


### Introduction to Association Rules
Association rule is unsupervised learning where algorithm tries to learn without a teacher as data are not labelled. Association rule is descriptive not the predictive method, generally used to discover interesting relationship hidden in large datasets. The relationship are usually represented in form of rules or frequent itemsets.[link](https://medium.com/@manilwagle/association-rules-unsupervised-learning-in-retail-69791aef99a)

Association rules mining are used to identify new and interesting insights between different objects in a set, frequent pattern in transactional data or any sort of relational database. They are commonly used for Market Basket Analysis (which items are bought together), Customer clustering in Retail (Which stores people tend to visit together), Price Bundling, Assortment Decisions, Cross Selling and others. This can be considered advanced form of what if scenario, if this then that.

### ALGORITHMS

1.EcLat Algorithm

2.Apriori Algorithm

### Market Basket Analysis Use case
![link](https://miro.medium.com/max/700/1*gvS2IXBR8rInmecjDim_Lg.png)


Market Basket Analysis is one of the fundamental techniques used by large retailers to uncover the association between items. In other words, it allows retailers to identify the relationship between items which are more frequently bought together.

Association Rules :

![link](https://miro.medium.com/max/700/1*m860LrYeW4Eo6nTQRIBKJg.jpeg)

An example of Association Rules

Assume there are 100 customers

10 of them bought milk, 8 bought butter and 6 bought both of them.

bought milk => bought butter

support = P(Milk & Butter) = 6/100 = 0.06

confidence = support/P(Butter) = 0.06/0.08 = 0.75

lift = confidence/P(Milk) = 0.75/0.10 = 7.5

### Uses


How likely is one to buy bread if (s)he bought milk & eggs?

Product placement optimization.

Product recomendations.

# Types of asociation rule

### Apriori Algorithm

This algorithm uses frequent datasets to generate association rules. It is designed to work on the databases that contain transactions. This algorithm uses a breadth-first search and Hash Tree to calculate the itemset efficiently.

It is mainly used for market basket analysis and helps to understand the products that can be bought together. It can also be used in the healthcare field to find drug reactions for patients.


### Eclat Algorithm

Eclat algorithm stands for Equivalence Class Transformation. This algorithm uses a depth-first search technique to find frequent itemsets in a transaction database. It performs faster execution than Apriori Algorithm.

### F-P Growth Algorithm

The F-P growth algorithm stands for Frequent Pattern, and it is the improved version of the Apriori Algorithm. It represents the database in the form of a tree structure that is known as a frequent pattern or tree. The purpose of this frequent tree is to extract the most frequent patterns.

### Applications of Association Rule Learning

It has various applications in machine learning and data mining. Below are some popular applications of association rule learning:

### Market Basket Analysis: 

It is one of the popular examples and applications of association rule mining. This technique is commonly used by big retailers to determine the association between items.

Medical Diagnosis:

 With the help of association rules, patients can be cured easily, as it helps in identifying the probability of illness for a particular disease.

Protein Sequence: 

The association rules help in determining the synthesis of artificial Proteins.
It is also used for the Catalog Design and Loss-leader Analysis and many more other applications.

In order to select the interesting rules out of multiple possible rules from this small business scenario, we will be using the following measures:
Support

Confidence

Lift

Conviction

Remember I told y’all that we’ll get back to the three most popular criteria evaluating the quality or the strength of an association rule. There are support, confidence and lift:

1. Support is the percentage of transactions containing a particular combination of items relative to the total number of transactions in the database. The support for the combination A and B would be,
P(AB) or P(A) for Individual A
2. Confidence measures how much the consequent (item) is dependent on the
antecedent (item). In other words, confidence is the conditional probability of the consequent given the antecedent,
P(B|A)
where P(B|A) = P(AB)/P(A)
3. Lift (also called improvement or impact) is a measure to overcome the
problems with support and confidence. Lift is said to measure the difference — measured in ratio — between the confidence of a rule and the expected confidence. Consider an association rule “if A then B.” The lift for the rule is defined as
P(B|A)/P(B) or P(AB)/[P(A)P(B)].
As shown in the formula, lift is symmetric in that the lift for “if A then B” is the same as the lift for “if B then A.”
4. Each criterion has its advantages and disadvantages but in general we would like association rules that have high confidence, high support, and high lift.

### Real World Project

In [1]:
#import packages
#mlxtend for calculation of support,confidence and lift
import sys
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [5]:
dataframe = pd.read_csv("https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/groceries.csv", sep='delimiter', header=None, engine='python')
display(dataframe.head(20))
print(dataframe.shape)

                                                    0
0   citrus fruit,semi-finished bread,margarine,rea...
1                        tropical fruit,yogurt,coffee
2                                          whole milk
3         pip fruit,yogurt,cream cheese ,meat spreads
4   other vegetables,whole milk,condensed milk,lon...
5      whole milk,butter,yogurt,rice,abrasive cleaner
6                                          rolls/buns
7   other vegetables,UHT-milk,rolls/buns,bottled b...
8                                          pot plants
9                                  whole milk,cereals
10  tropical fruit,other vegetables,white bread,bo...
11  citrus fruit,tropical fruit,whole milk,butter,...
12                                               beef
13                        frankfurter,rolls/buns,soda
14                             chicken,tropical fruit
15      butter,sugar,fruit/vegetable juice,newspapers
16                              fruit/vegetable juice
17                          packaged fruit/vegetables
18                                          chocolate
19                                      specialty bar

(9835, 1)

In [6]:
#converting the dataframe to a list
data = dataframe.values.tolist()
data
#convert the single string in each list to multiple strings separated by commas
table = []
for x in data:
    new_list = []
    for y in x:
        for z in y.split(','):
            new_list.append(z)
    table.append(new_list)
    
table
#encode the dataset
te = TransactionEncoder()
te_ary = te.fit(table).transform(table)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,baby food,bags,baking powder,bathroom cleaner,beef,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830,False,False,False,False,False,False,False,False,False,True,...,False,False,False,True,False,False,False,True,False,False
9831,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9832,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
9833,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9834,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False

In [8]:
#generate frequent itemsets using Apriori algorithm
frequent_itemsets = apriori(df,min_support=0.2,use_colnames=True)
frequent_itemsets
#generating association rules
from mlxtend.frequent_patterns import association_rules
rules =association_rules(frequent_itemsets,metric='support',min_threshold=0.1)
rules
res_specific = rules[['antecedents', 'consequents', 'support']]
res_specific.head(20)

Empty DataFrame
Columns: [antecedents, consequents, support]
Index: []

# Project 2

In [11]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [13]:
#importing libraries
dataset = pd.read_csv('Market_Basket_Optimisation.csv', low_memory=False, header=None)
#viewing dataset
dataset

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
dataset.shape

(7501, 20)

In [16]:
#basic information of dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7501 entries, 0 to 7500
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7501 non-null   object
 1   1       5747 non-null   object
 2   2       4389 non-null   object
 3   3       3345 non-null   object
 4   4       2529 non-null   object
 5   5       1864 non-null   object
 6   6       1369 non-null   object
 7   7       981 non-null    object
 8   8       654 non-null    object
 9   9       395 non-null    object
 10  10      256 non-null    object
 11  11      154 non-null    object
 12  12      87 non-null     object
 13  13      47 non-null     object
 14  14      25 non-null     object
 15  15      8 non-null      object
 16  16      4 non-null      object
 17  17      4 non-null      object
 18  18      3 non-null      object
 19  19      1 non-null      object
dtypes: object(20)
memory usage: 1.1+ MB

In [17]:
#basic info of statistics
dataset.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
count,7501,5747,4389,3345,2529,1864,1369,981,654,395,256,154,87,47,25,8,4,4,3,1
unique,115,117,115,114,110,106,102,98,88,80,66,50,43,28,19,8,3,3,3,1
top,mineral water,mineral water,mineral water,mineral water,green tea,french fries,green tea,green tea,green tea,green tea,low fat yogurt,green tea,green tea,green tea,magazines,salmon,frozen smoothie,protein bar,spinach,olive oil
freq,577,484,375,201,153,107,96,67,57,31,22,15,8,4,3,1,2,2,1,1

In [18]:
#viewing the uniqueness in dataset
dataset.nunique()

0     115
1     117
2     115
3     114
4     110
5     106
6     102
7      98
8      88
9      80
10     66
11     50
12     43
13     28
14     19
15      8
16      3
17      3
18      3
19      1
dtype: int64

In [19]:
#missing values any from the dataset
print(str('Any missing data or NaN in the dataset:'), dataset.isnull().values.any())

Any missing data or NaN in the dataset: True

In [20]:
#install APRIORI algorithm 
!pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=984342d1b10d5065d3f81f7a738d31f088122598691f5915a50e74b2ef8fd1c1
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [21]:
#Let's create an empty list here
list_of_transactions = []

In [22]:
#Append the list
for i in range(0, 7501):
    list_of_transactions.append([str(dataset.values[i,j]) for j in range(0, 20)])

In [23]:
#Let's see the first element from our list of transactions. We should indicate 0 here because index in Pythn starts with 0
list_of_transactions[0]

['shrimp',
 'almonds',
 'avocado',
 'vegetables mix',
 'green grapes',
 'whole weat flour',
 'yams',
 'cottage cheese',
 'energy drink',
 'tomato juice',
 'low fat yogurt',
 'green tea',
 'honey',
 'salad',
 'mineral water',
 'salmon',
 'antioxydant juice',
 'frozen smoothie',
 'spinach',
 'olive oil']

In [24]:
# Training apiori algorithm on our list_of_transactions
from apyori import apriori
rules = apriori(list_of_transactions, min_support = 0.004, min_confidence = 0.2, min_lift = 3, min_length = 2)

In [25]:
# Create a list of rules and print the results
results = list(rules)
#Here is the first rule in list or results
results[0]

RelationRecord(items=frozenset({'chicken', 'light cream'}), support=0.004532728969470737, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'}), confidence=0.29059829059829057, lift=4.84395061728395)])

In [26]:
#In order to visualize our rules better we need to extract elements from our results list, convert it to pd.data frame and sort strong rules by lift value.
#Here is the code for this. We have extracted left hand side and right hand side items from our rules above, also their support, confidence and lift value
def inspect(results):
    lhs     =  [tuple(result [2] [0] [0]) [0] for result in results]
    rhs     =  [tuple(result [2] [0] [1]) [0] for result in results]
    supports = [result [1] for result in results]
    confidences = [result [2] [0] [2]   for result in results]
    lifts = [result [2] [0] [3]   for result in results]
    return list(zip(lhs,rhs,supports,confidences, lifts))
resultsinDataFrame = pd.DataFrame(inspect(results),columns = ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'] )

In [27]:
resultsinDataFrame.head(10)

         Left Hand Side Right Hand Side   Support  Confidence      Lift
0           light cream         chicken  0.004533    0.290598  4.843951
1  mushroom cream sauce        escalope  0.005733    0.300699  3.790833
2                 pasta        escalope  0.005866    0.372881  4.700812
3         herb & pepper     ground beef  0.015998    0.323450  3.291994
4          tomato sauce     ground beef  0.005333    0.377358  3.840659
5     whole wheat pasta       olive oil  0.007999    0.271493  4.122410
6                 pasta          shrimp  0.005066    0.322034  4.506672
7           light cream         chicken  0.004533    0.290598  4.843951
8             chocolate          shrimp  0.005333    0.232558  3.254512
9           ground beef       spaghetti  0.004799    0.571429  3.281995

In [28]:
#As we have our rules in pd.dataframe we can sort it by lift value using nlargest command. Here we are saying that we need top 6 rule by lift value
resultsinDataFrame.nlargest(n=10, columns='Lift')

   Left Hand Side Right Hand Side   Support  Confidence      Lift
0     light cream         chicken  0.004533    0.290598  4.843951
7     light cream         chicken  0.004533    0.290598  4.843951
2           pasta        escalope  0.005866    0.372881  4.700812
12          pasta             nan  0.005866    0.372881  4.700812
30          pasta             nan  0.005066    0.322034  4.515096
6           pasta          shrimp  0.005066    0.322034  4.506672
36    ground beef       spaghetti  0.004399    0.259843  4.350622
55    ground beef       spaghetti  0.004399    0.259843  4.350622
10    ground beef   herb & pepper  0.004133    0.206667  4.178455
35    ground beef             nan  0.004133    0.206667  4.178455